*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    font-size: 62.5rem;
}
.header{
    background-color: blue;
}

.footer{
    margin: 0;
    padding: 0;
    background-color: rgb(80, 80, 189);
    color: white;
    align-self: flex-end;
}

.container-imagenes{
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    align-self: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: flex-start;
}

.container-imagenes div img{
    margin: 5px;
    padding: 5px;
          
}
/* .container-imagenes div img :hover{
    transform: ;
} */
/* 
navbar-toggler button :hover{

} */