*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    font-size: 62.5rem;
}

img.img-fluid :active{
    border-radius: 50%;
    transform: scale(1.5);
} 
 


.nav-link:hover{
    background-color: white;
    border: 2px;
    border-color: black;
    font-size: 150%;
    border-radius: 8px;
    transition-duration: 0.8s;
    color: black;
}
.div a:hover{
    transform: scale(1.5);
    transform: rotateY(360deg);
    transition-duration: 1.5s;
}
