.foto_hero{
    padding:10px;
    
}

.resumen{
    margin: 15px;
    padding: 15px;
    border-color: black;
    h2{
        p{
            text-align: center;
            color: white;
            border-radius: 15px;
            border-color: black;
        }
    }
}
