/* ----------ARRANCAMOS CON LAYOUT PARA MOBIL-------------- */
.grid-layout{
    display: grid;
    height: 100vw;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "menu"
        "contenido"
        "footer";
    grid-template-rows: 70px 40px 1fr 10%;/*--- 70px 40px 1fr 10%; ---*/
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-content: stretch;
    justify-items: stretch;
    border: 1px solid black;
    
}
/* ----------AHORA LAYOUT PARA TABLET------------ */
@media (min-width:480px) and (max-width:1023){
    .grid-layout{
        display: grid;
        height: 100vw;
        margin: 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "header header header"
            "menu menu menu"
            "contenido contenido contenido"
            "footer footer footer";
        grid-template-rows: 70px 40px 1fr 10%;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        justify-content: stretch;
        justify-items: stretch;
        border: 1px solid black;
        
    }
}

/* ----------AHORA LAYOUT PARA DESKTOP------------ */

/* /* @media (min-width:1024px){ 
    .grid-layout{
        display: grid;
        height: 100vw;
        margin: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "header header header header"
            "menu menu menu menu"
            "contenido contenido contenido contenido"
            "footer footer footer footer";
        grid-template-rows: 70px 40px 1fr 10%;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        justify-content:center;
        justify-items: stretch;
        align-content: center;
        align-items: start;
        border: 1px solid black;
        
    }
} */



.header{
    display: grid;
    box-sizing: border-box;
    height: auto;
    grid-area: header;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: stretch;
    color: white;
    background-color: blue;
    border: 1px solid black;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    
}
.header a{
color: white;
}
/* ------HEADER PARA DESKTOP------ */

/* @media (min-width:1024px){
    .header{
        display: grid;
        grid-area: header;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: stretch;
        color: white;
        background-color: blue;
        border: 1px solid black;
        align-items: center;
        font-size: 2.5rem;
        text-align: center;
    }
    .menu nav ul li{
        display: inline;
        text-align: center;
        margin: 0 10px 0 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
 */

.menu{
    display: grid;
    grid-area: menu;
    justify-items: center;
    background-color: blueviolet;
    border: 1px solid black;
    align-content: center;
    text-align: left;
    align-content: center;
    
}
.menu nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu nav ul li{
    display: inline;
    float: left;
    text-align: center;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* -----------MENU PARA DESKTOP---------- */
/* @media (min-width: 1024px){
    .menu{
    display: grid;
    grid-area: menu;
    justify-items: center;
    background-color: blueviolet;
    border: 1px solid black;
    align-items: center;
    text-align: left;
    align-content: center;
    }
    .menu nav ul li{
        display: inline;
        text-align: center;
        margin: 0 10px 0 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
} */

.contenido{
    display: grid;
    grid-area: contenido;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    justify-content: left;
    border: 1px solid white;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    top: 15px;
    left: 15px;
}

.contenido img{
    
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10px;

}
.footer{
    display: grid;
    background-color: blueviolet;
    grid-area: footer;
    border: 1px solid white;
    box-sizing: border-box;
    align-items: center;
    display: inline-block;
    text-align: center;
    
}

.footer div h5{
    width: fit-content;
    margin: 25px;
    background-color: blueviolet;
    text-align: center;
}

.column{
    flex: 25%;
    box-sizing: border-box;
    padding: 5px;
    flex-wrap: wrap;
    

}
.column img{
    display: flex;
    width: 100%;
    
    margin: 0;
    padding: 5px;
}

.contenido-fotos{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 5px;
    
}

@media (max-width: 600px){
    .column{
        flex: 100%;
        box-sizing: border-box;
        padding: 5px;
        flex-wrap: wrap;
    }
}
