.header{
    div{
        a{
            &:hover{
                transform: scale(1.5);
                transform: rotateY(360deg);
                transition-duration: 1.5s;
            }
        }
    }
    
       
}

.menu{
    li{
        &:hover{
            border: 2px;
            border-color: black;
            font-size: 150%;
            border-radius: 8px;
            transition-duration: 1.2s;
            color: black;
        }
    }
        
}
